params {
    outdir = './results_rgi'
    publish_dir_mode = 'copy'
}

process {
    withName: FastQC {
	cpus = 2
        publishDir = [
        path: "${params.outdir}/fastqc",
        mode: 'copy'
        ]
    }

    withName: FastP {
	cpus = 2
        publishDir = [
        path: "${params.outdir}/fastp",
        mode: 'copy'
        ]
    }

    withName: Kraken2Host {
	cpus = 2
        // publishDir = [
        // path: "${params.outdir}/kraken2",
        // mode: 'copy'
        // ]
    }

    withName: Kraken2Taxonomy {
	cpus = 4
	memory = 800.GB
	maxForks = 1
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }

    withName: CENTRIFUGE {
	cpus = 4
	maxForks = 2
	memory = 190.GB
        publishDir = [
        path: "${params.outdir}/centrifuge",
        mode: 'copy'
        ]
    }

    withName: KRONAPLOTB {
        publishDir = [
        path: "${params.outdir}/centrifuge",
        mode: 'copy'
        ]
    }

    withName: KRONAPLOT {
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }

    withName: MetaSPAdes {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/spades",
        mode: 'copy'
        ]
    }

    withName: Kraken2Contigs {
	cpus = 8
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }

    withName: KronaContigs {
	cpus = 1
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }

    withName: CARDRGI {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/rgi",
        mode: 'copy'
        ]
    }

    withName: SAM2FASTQ {
	cpus = 4
	container = 'oras://community.wave.seqera.io/library/samtools:1.20--ad906e74fde1812b'
        publishDir = [
        path: "${params.outdir}/samtools",
        mode: 'copy'
        ]
    }

    withName: BBTOOLSREPAIR {
	cpus = 2
        publishDir = [
        path: "${params.outdir}/samtools",
        mode: 'copy'
        ]
    }

    withName: BUILD_KRAKEN2DB {
	cpus = 1
        // publishDir = [
        // path: "${params.outdir}/krakenDB",
        // mode: 'copy'
        // ]
    }
}
