params {
    outdir = './results_rgi'
    publish_dir_mode = 'copy'
}

process {
    withName: FastQC {
        publishDir = [
        path: "${params.outdir}/fastqc",
        mode: 'copy'
        ]
    }

    withName: FastP {
        publishDir = [
        path: "${params.outdir}/fastp",
        mode: 'copy'
        ]
    }
    withName: Kraken2Host {
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }
    withName: Kraken2Taxonomy {
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }
    withName: KronaTools {
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }
    withName: MetaSPAdes {
        publishDir = [
        path: "${params.outdir}/spades",
        mode: 'copy'
        ]
    }
    withName: Kraken2Contigs {
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }
    withName: KronaContigs {
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }
    withName: CARDRGI {
        publishDir = [
        path: "${params.outdir}/rgi",
        mode: 'copy'
        ]
    }
    withName: SAM2FASTQ {
        publishDir = [
        path: "${params.outdir}/fastq",
        mode: 'copy'
        ]
    }
    withName: BUILD_KRAKEN2DB {
        publishDir = [
        path: "${params.outdir}/krakenDB",
        mode: 'copy'
        ]
    }
}
