params {
    outdir = './results_arg'
    publish_dir_mode = 'copy'
}

apptainer {
    enabled = true
}

conda {
    enabled = true
}

process {
    withName: FASTQC {
        container = '/home/gkibet/bioinformatics/github/apptainer/fastqc/fastqc_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--104d26ddd9519960'
	cpus = 2
        publishDir = [
            path: "${params.outdir}/fastqc",
            mode: 'copy'
        ]
    }

    withName: FASTQC_TRIMMED {
        container = '/home/gkibet/bioinformatics/github/apptainer/fastqc/fastqc_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--104d26ddd9519960'
	cpus = 2
        publishDir = [
            path: "${params.outdir}/fastqc_trimmed",
            mode: 'copy'
        ]
    }

    withName: FASTP {
        container = '/home/gkibet/bioinformatics/github/apptainer/fastp/fastp_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/fastp:0.23.4--b69359f46d2a8ebf'
	cpus = 2
        publishDir = [
            path: "${params.outdir}/fastp",
            mode: 'copy',
            pattern: '*.html,*.json,*.log'
        ]
    }

    withName: HOSTILE {
        container = '/home/gkibet/bioinformatics/github/apptainer/hostile/hostile_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/hostile:1.1.0--f22a8f42b458230'
	cpus = 4
        publishDir = [
            path: "${params.outdir}/hostile",
            mode: 'copy'
        ]
    }

    withName: RESFINDER {
        conda = "bioconda::resfinder=4.6.0"
        // container = '/home/gkibet/bioinformatics/github/apptainer/resfinder/resfinder_apptainer_mamba.sif'
        // container = 'oras://community.wave.seqera.io/library/resfinder:4.6.0--d9a27247bc457e78'
	cpus = 2
        publishDir = [
            path: "${params.outdir}/resfinder/",
            mode: 'copy',
            // pattern: '*.txt,*.json,*_seq.fsa'
        ]
    }

    withName: CARDRGI {
        container = '/home/gkibet/bioinformatics/github/apptainer/rgi/rgi_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/rgi:6.0.3--5075130fefb65a9f'
	cpus = 4
        publishDir = [
            path: "${params.outdir}/rgi",
            mode: 'copy'
        ]
    }

    withName: KRAKEN2 {
	cpus = 4
	memory = 800.GB
	errorStrategy = 'ignore'
	maxErrors = 1
//	.set { disinfinder_db }
	maxForks = 1
        publishDir = [
            path: "${params.outdir}/kraken2",
            mode: 'copy'
        ]
    }

    withName: CENTRIFUGE {
	cpus = 4
	maxForks = 1
	memory = 190.GB
	errorStrategy = 'ignore'
	maxErrors = 1
        publishDir = [
            path: "${params.outdir}/centrifuge",
            mode: 'copy'
        ]
    }

    withName: KRONAPLOT_KRAKEN {
        publishDir = [
            path: "${params.outdir}/krona/kraken",
            mode: 'copy'
        ]
    }

    withName: KRONAPLOT_CENTRIFUGE {
        publishDir = [
            path: "${params.outdir}/krona/centrifuge",
            mode: 'copy'
        ]
    }

    withName: METASPADES {
	cpus = 4
        publishDir = [
            path: "${params.outdir}/spades",
            mode: 'copy'
        ]
    }

    withName: KRAKEN2FASTA {
	cpus = 4
	memory = 800.GB
	errorStrategy = 'ignore'
	maxErrors = 1
	maxForks = 1
        publishDir = [
            path: "${params.outdir}/kraken2",
            mode: 'copy'
        ]
    }

    withName: KRONA_KCONTIGS {
	cpus = 1
        publishDir = [
            path: "${params.outdir}/krona/contigs",
            mode: 'copy'
        ]
    }

    withName: SAM2FASTQ {
	cpus = 4
	container = 'oras://community.wave.seqera.io/library/samtools:1.20--ad906e74fde1812b'
        publishDir = [
            path: "${params.outdir}/samtools",
            mode: 'copy'
        ]
    }

    withName: BBTOOLSREPAIR {
	cpus = 2
        publishDir = [
            path: "${params.outdir}/samtools",
            mode: 'copy'
        ]
    }

    withName: KRAKEN2DB {
	cpus = 1
    }
}

