params {
    outdir = './results_arg'
    publish_dir_mode = 'copy'
}

profiles {
  conda {
    conda.enabled = true
    process.executor = 'local'
    process.container = false
  }

  mamba {
    conda.enabled = true
    conda.autoActivate = false
    conda.useMamba = true
    process.executor = 'local'
    process.container = false
  }

  docker {
    process.container = true
    containerEngine = 'docker'
    process.executor = 'local'
  }

  singularity {
    process.container = true
    containerEngine = 'singularity'
    process.executor = 'local'
  }

  apptainer {
    process.container = true
    containerEngine = 'apptainer'
    process.executor = 'local'
  }
}

docker.enabled = false
singularity.enabled = false
apptainer.enabled = true

process {
    withName: FASTQC {
        container = '/home/gkibet/bioinformatics/github/apptainer/fastqc/fastqc_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--104d26ddd9519960'
	cpus = 2
        publishDir = [
            path: "${params.outdir}/fastqc",
            mode: 'copy'
        ]
    }

    withName: FASTQ2FASTA {
        container = '/home/gkibet/bioinformatics/github/apptainer/seqtk/seqtk_apptainer.sif'
	cpus = 1
        publishDir = [
            path: "${params.outdir}/fasta",
            mode: 'copy'
        ]
    }

    withName: FASTP {
        container = '/home/gkibet/bioinformatics/github/apptainer/fastp/fastp_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/fastp:0.23.4--b69359f46d2a8ebf'
	cpus = 2
        publishDir = [
            path: "${params.outdir}/fastp",
            mode: 'copy',
            pattern: '*.{html,json,log}'
        ]
    }

    withName: HOSTILE {
        container = '/home/gkibet/bioinformatics/github/apptainer/hostile/hostile_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/hostile:1.1.0--f22a8f42b458230'
	cpus = 1
        publishDir = [
            path: "${params.outdir}/hostile",
            mode: 'copy',
            pattern: '*.{json}'
        ]
    }

    withName: RESFINDER {
        // cache = 'false'
        errorStrategy = 'retry'
        maxRetries = 1
	// maxForks = 1
        container = '/home/gkibet/bioinformatics/github/apptainer/resfinder/resfinder_apptainer.sif'
        // container = '/home/gkibet/bioinformatics/github/apptainer/resfinder/resfinder_v4.6.0.sif'
        // container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
        //         'oras://community.wave.seqera.io/library/resfinder:4.7.2--5b2990756ca0be4d'}
        // conda = "bioconda::resfinder=4.7.2"
	cpus = 4
        publishDir = [
            path: "${params.outdir}/resfinder/",
            mode: 'copy',
        ]
    }

    withName: CARDRGI {
        errorStrategy = 'retry'
        maxRetries = 1
        container = '/home/gkibet/bioinformatics/github/apptainer/rgi/rgi_apptainer.sif'
        // container = 'oras://community.wave.seqera.io/library/rgi:6.0.4--7095498f2385d01d'
        cpus = 4
        publishDir = [
            path: "${params.outdir}/rgi",
            mode: 'copy'
        ]
    }

    withName: ARGNET_GPU {
        errorStrategy = 'retry'
        maxRetries = 1
	cpus = 4
        publishDir = [
            path: "${params.outdir}/argnet/",
            mode: 'copy'
        ]
    }

    withName: ARGNET_CPU {
        errorStrategy = 'retry'
        maxRetries = 1
        container = '/home/gkibet/bioinformatics/github/apptainer/argnet/argnetCPU_apptainer.sif'
	cpus = 4
        publishDir = [
            path: "${params.outdir}/argnet/",
            mode: 'copy'
        ]
    }

    withName: MGS2AMR {
        errorStrategy = 'retry'
        maxRetries = 1
        container = '/home/gkibet/bioinformatics/github/apptainer/mgs2amr/mgs2amr_apptainer.sif'
        containerOptions = "--bind \$(pwd):/opt/mgs2amr/dataAndScripts"
        cpus = 4
        memory = '64G'
        time = '6h'
        publishDir = [
            path: "${params.outdir}/mgs2amr/",
            mode: 'copy'
        ]
    }

    withName: AMRPLUSPLUS {
        errorStrategy = 'retry'
        maxRetries = 1
        container = '/home/gkibet/bioinformatics/github/apptainer/mgs2amr/mgs2amr_apptainer.sif'
        cpus = 4
        memory = '64G'
        time = '6h'
        publishDir = [
            path: "${params.outdir}/mgs2amr/",
            mode: 'copy'
        ]
    }

    withName: KRAKEN2 {
        container = 'oras://community.wave.seqera.io/library/kraken2:2.14--508f454ac8eda8a9'
	cpus = 4
	memory = 800.GB
	errorStrategy = 'ignore'
	maxErrors = 1
	maxForks = 1
        publishDir = [
            path: "${params.outdir}/kraken2",
            mode: 'copy'
        ]
    }

    withName: CENTRIFUGE {
        container = 'oras://community.wave.seqera.io/library/centrifuge:1.0.4_beta--1fdc85d7fcaff603'
	cpus = 4
	maxForks = 1
	memory = 190.GB
	errorStrategy = 'ignore'
	maxErrors = 1
        publishDir = [
            path: "${params.outdir}/centrifuge",
            mode: 'copy'
        ]
    }

    withName: KRONAPLOT_KRAKEN {
        container = 'oras://community.wave.seqera.io/library/krona:2.8.1--c5df619dadd4d960'
        publishDir = [
            path: "${params.outdir}/krona/kraken",
            mode: 'copy'
        ]
    }

    withName: KRONAPLOT_CENTRIFUGE {
        container = 'oras://community.wave.seqera.io/library/krona:2.8.1--c5df619dadd4d960'
        publishDir = [
            path: "${params.outdir}/krona/centrifuge",
            mode: 'copy'
        ]
    }

    withName: METASPADES {
        container = 'oras://community.wave.seqera.io/library/spades:4.2.0--3313822b80929818'
	cpus = 4
        publishDir = [
            path: "${params.outdir}/spades",
            mode: 'copy'
        ]
    }

    withName: KRAKEN2FASTA {
        container = 'oras://community.wave.seqera.io/library/kraken2:2.14--508f454ac8eda8a9'
	cpus = 4
	memory = 800.GB
	errorStrategy = 'ignore'
	maxErrors = 1
	maxForks = 1
        publishDir = [
            path: "${params.outdir}/kraken2",
            mode: 'copy'
        ]
    }

    withName: KRONA_KCONTIGS {
        container = 'oras://community.wave.seqera.io/library/krona:2.8.1--c5df619dadd4d960'
	cpus = 1
        publishDir = [
            path: "${params.outdir}/krona/contigs",
            mode: 'copy'
        ]
    }

    withName: SAM2FASTQ {
	cpus = 4
	container = 'oras://community.wave.seqera.io/library/samtools:1.20--ad906e74fde1812b'
        publishDir = [
            path: "${params.outdir}/samtools",
            mode: 'copy'
        ]
    }

    withName: BBTOOLSREPAIR {
        // container = 'oras://community.wave.seqera.io/library/rgi:6.0.3--5075130fefb65a9f'
	cpus = 2
        publishDir = [
            path: "${params.outdir}/samtools",
            mode: 'copy'
        ]
    }

    withName: KRAKEN2DB {
        container = 'oras://community.wave.seqera.io/library/kraken2:2.14--508f454ac8eda8a9'
	cpus = 1
    }
}

