params {
    outdir = './results_rgi'
    publish_dir_mode = 'copy'
}

process {
    withName: FASTQC {
	cpus = 2
        publishDir = [
        path: "${params.outdir}/fastqc",
        mode: 'copy'
        ]
    }

    withName: FASTP {
	cpus = 8
        publishDir = [
        path: "${params.outdir}/fastp",
        mode: 'copy'
        ]
    }

    withName: KRAKEN2DBHOST {
	cpus = 1
        // publishDir = [
        // path: "${params.outdir}/krakenDB",
        // mode: 'copy'
        // ]
    }

    withName: KRAKEN2FILTER {
	cpus = 8
        // publishDir = [
        // path: "${params.outdir}/kraken2",
        // mode: 'copy'
        // ]
    }

    withName: CARDRGI {
        cpus = 12
        publishDir = [
        path: "${params.outdir}/rgi",
        mode: 'copy'
        ]
        environment = [
            'TMPDIR' : "${params.outdir}/rgi/tmp"
        ]
    }

    withName: SAM2FASTQ {
	cpus = 4
	container = 'oras://community.wave.seqera.io/library/samtools:1.20--ad906e74fde1812b'
        publishDir = [
        path: "${params.outdir}/samtools",
        mode: 'copy'
        ]
    }

    withName: BBTOOLSREPAIR {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/samtools",
        mode: 'copy'
        ]
    }

    withName: CENTRIFUGEDB {
	cpus = 1
        // publishDir = [
        // path: "${params.outdir}/centrifugeDB",
        // mode: 'copy'
        // ]
    }

    withName: CENTRIFUGE {
	cpus = 12
	maxForks = 3
	memory = 100.GB
	errorStrategy = 'ignore'
	maxErrors = 2
        publishDir = [
        path: "${params.outdir}/centrifuge",
        mode: 'copy'
        ]
    }

    withName: KRONA_CENTRIFUGE {
        cpus = 2
        publishDir = [
        path: "${params.outdir}/centrifuge",
        mode: 'copy'
        ]
    }

    withName: KRAKEN2DB {
	cpus = 1
        // publishDir = [
        // path: "${params.outdir}/krakenDB",
        // mode: 'copy'
        // ]
    }

    withName: KRAKEN2 {
	cpus = 8
	memory = 800.GB
	maxForks = 1
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }

    withName: KRONA_KRAKEN2 {
        cpus = 2
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }

    withName: METASPADES {
	cpus = 8
        publishDir = [
        path: "${params.outdir}/spades",
        mode: 'copy'
        ]
    }

    withName: KRAKEN2FASTA {
	cpus = 8
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }

    withName: KRONA_CONTIGS {
	cpus = 1
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }
}
