params {
    outdir = './results'
    publish_dir_mode = 'copy'
}

process {
    withName: FASTQC {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/fastqc",
        mode: 'copy'
        ]
    }

    withName: BOWTIE2_DB {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/bowtie_db",
        mode: 'copy'
        ]
    }

    withName: BOWTIE2 {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/bowtie",
        mode: 'copy'
        ]
    }

    withName: FASTP {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/fastp",
        mode: 'copy'
        ]
    }

    withName: CARDRGI {
        cpus = 4
        publishDir = [
        path: "${params.outdir}/rgi",
        mode: 'copy'
        ]
    }

    withName: KRAKEN2HOST {
	cpus = 8
        // publishDir = [
        // path: "${params.outdir}/kraken2",
        // mode: 'copy'
        // ]
    }

    withName: KRAKEN2 {
	cpus = 8
	memory = 800.GB
	maxForks = 1
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }

    withName: CENTRIFUGE {
	cpus = 4
	maxForks = 3
	memory = 190.GB
	errorStrategy = 'ignore'
	maxErrors = 2
        publishDir = [
        path: "${params.outdir}/centrifuge",
        mode: 'copy'
        ]
    }

    withName: KRONA_CENTRIFUGE {
        publishDir = [
        path: "${params.outdir}/krona/centrifuge",
        mode: 'copy'
        ]
    }

    withName: KRONA {
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }

    withName: KRONA_KRAKEN2 {
        publishDir = [
        path: "${params.outdir}/krona/kraken2",
        mode: 'copy'
        ]
    }

    withName: METASPADES {
	cpus = 4
	memory = 190.GB
	maxForks = 2
        publishDir = [
        path: "${params.outdir}/spades",
        mode: 'copy'
        ]
    }

    withName: MEGAHIT {
	cpus = 4
	memory = 190.GB
	maxForks = 2
	time = { check_max (16.h * task.attempt, 'time' ) }
        publishDir = [
        path: "${params.outdir}/megahit",
        mode: 'copy'
        ]
    }

    withName: KRAKEN2CONTIGS {
	cpus = 8
	memory = 800.GB
	maxForks = 1
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }

    withName: KRONA_KRAKEN2CONTIGS {
	cpus = 1
        publishDir = [
        path: "${params.outdir}/krona/kraken2",
        mode: 'copy'
        ]
    }

    withName: CARDRGI {
	cpus = 16
        publishDir = [
        path: "${params.outdir}/rgi",
        mode: 'copy'
        ]
    }

    withName: SAM2FASTQ {
	cpus = 4
	// container = 'oras://community.wave.seqera.io/library/samtools:1.20--ad906e74fde1812b'
        publishDir = [
        path: "${params.outdir}/samtools",
        mode: 'copy'
        ]
    }

    withName: BBTOOLSREPAIR {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/samtools",
        mode: 'copy'
        ]
    }

    withName: KRAKEN2DB {
	cpus = 1
        // publishDir = [
        // path: "${params.outdir}/krakenDB",
        // mode: 'copy'
        // ]
    }
}
