params {
    outdir = './results'
    publish_dir_mode = 'copy'
}

process {
    withName: FastQC {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/fastqc",
        mode: 'copy'
        ]
    }

    withName: FastP {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/fastp",
        mode: 'copy'
        ]
    }

    withName: CARDRGI {
        cpus = 4
        publishDir = [
        path: "${params.outdir}/rgi",
        mode: 'copy'
        ]
    }

    withName: Kraken2Host {
	cpus = 8
        // publishDir = [
        // path: "${params.outdir}/kraken2",
        // mode: 'copy'
        // ]
    }

    withName: Kraken2Taxonomy {
	cpus = 4
	memory = 800.GB
	maxForks = 1
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }

    withName: CENTRIFUGE {
	cpus = 4
	maxForks = 3
	memory = 190.GB
	errorStrategy = 'ignore'
	maxErrors = 2
        publishDir = [
        path: "${params.outdir}/centrifuge",
        mode: 'copy'
        ]
    }

    withName: KRONAPLOTB {
        publishDir = [
        path: "${params.outdir}/centrifuge",
        mode: 'copy'
        ]
    }

    withName: KRONAPLOT {
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }

    withName: MetaSPAdes {
	cpus = 4
	memory = 190.GB
	maxForks = 2
        publishDir = [
        path: "${params.outdir}/spades",
        mode: 'copy'
        ]
    }

    withName: MEGAHIT {
	cpus = 4
	memory = 190.GB
	maxForks = 2
	time = { check_max (16.h * task.attempt, 'time' ) }
	conda "bioconda::megahit=1.2.9"
	container "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
	   'https://depot.galaxyproject.org/singularity/megahit:1.2.9--h2e03b76_1' :
	    'biocontainers/megahit:1.2.9--h2e03b76_1' }"
        publishDir = [
        path: "${params.outdir}/megahit",
        mode: 'copy'
        ]
    }

    withName: Kraken2Contigs {
	cpus = 4
	memory = 800.GB
	maxForks = 1
        publishDir = [
        path: "${params.outdir}/kraken2",
        mode: 'copy'
        ]
    }

    withName: KronaContigs {
	cpus = 1
        publishDir = [
        path: "${params.outdir}/krona",
        mode: 'copy'
        ]
    }

    withName: CARDRGI {
	cpus = 16
        publishDir = [
        path: "${params.outdir}/rgi",
        mode: 'copy'
        ]
    }

    withName: SAM2FASTQ {
	cpus = 4
	container = 'oras://community.wave.seqera.io/library/samtools:1.20--ad906e74fde1812b'
        publishDir = [
        path: "${params.outdir}/samtools",
        mode: 'copy'
        ]
    }

    withName: BBTOOLSREPAIR {
	cpus = 4
        publishDir = [
        path: "${params.outdir}/samtools",
        mode: 'copy'
        ]
    }

    withName: BUILD_KRAKEN2DB {
	cpus = 1
        // publishDir = [
        // path: "${params.outdir}/krakenDB",
        // mode: 'copy'
        // ]
    }
}
